
    <div id="pins" class="transitions-enabled productList-item">

      <div class="product-box productList-item-pic ">
        <%= link_to product_path(product) do %>
          <% if product.image.present? %>
          <%= image_tag(product.image.url, :class => "thumbnail") %>
        <% else %>
         <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
        <% end %>
        <%= product.title %>
        <br>
          ¥ <%= product.price %>
          <!-- add_to_cart -->

          <% if product.quantity > 0 %>
           <%= link_to add_to_cart_product_path(product), :method => :post, class: "addCartBtn productList-item-cartBtn pa border f18", :remote => true do %>
             <i class="fa fa-shopping-cart col-red"></i>
           <% end %>
         <% end %>
         <% if product.quantity <= 0 %>
           <p class="productList-item-sellout f20 tc">已售完</p>
         <% end %>
      </div>

    </div>
