
    <% @products.each do |product| %>
        <div class="col-xs-6 col-md-3">
          <%= link_to product_path(product) do %>
            <% if product.image.present? %>
            <%= image_tag(product.image.thumb.url, :class => "thumbnail") %>
          <% else %>
           <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
          <% end %>
          <%= product.title %> ¥ <%= product.price %>
        </div>
      <% end %>





  <!-- <p class="productList-item-desc mt5 f12"><%= product.description %></p>
  <% if product.quantity > 0 %>
    <%= link_to add_to_cart_product_path(product), :method => :post, class: "addCartBtn productList-item-cartBtn pa border f18", :remote => true do %>
      <i class="fa fa-shopping-cart col-red"></i>
    <% end %>
  <% end %>
  <% if product.quantity <= 0 %>
    <p class="productList-item-sellout f20 tc">已售完</p>
  <% end %> -->
