
    <div id="pins" class="transitions-enabled">

      <div class="product-box">
        <%= link_to product_path(product) do %>
          <% if product.image.present? %>
          <%= image_tag(product.image.url, :class => "thumbnail") %>
        <% else %>
         <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
        <% end %>
        <%= product.title %>
        <br>
          ¥ <%= product.price %>
      </div>


    </div>
