

<div class="container">


<!-- 类别/ -->
<div class="categoryProducts">
  <span class="name">商品分类：</span>
  <% Category.all.each do |category| %>

    <span>
        <%= link_to(category.name, products_path(category: category.name), :class => "categoryItem") %>
    </span>
  <% end %>
</div>

<!-- 排序  -->
<div class="sorts" data-reactid=".0.0.2">
  <span class="name">商品排序：</span>

  <span><%= link_to("默认", products_path, class: "default-view categoryItem") %></span>

  <span><%= link_to("价格", products_path(:order => "by_product_price"), class: "categoryItem") %></span>
  <span><%= link_to("销量", products_path(:order => "by_product_quantity"), class: "categoryItem") %></span>
  <!-- <span><%= link_to("上架时间",'#') %></span> -->

</div>

<!-- 教材 -->
  <div class="row">
    <div id="pins" class="transitions-enabled">
          <%= render :partial => "product_items", :collection => @products, :as => :product %>
      </div>
  </div>
</div>
