


<div class="container product-show">
 <div class="row">

  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, :class => "thumbnail") %>
    <%  else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>

<!--商品标题和描述 -->
  <div class="col-md-6">
    <h2><%= @product.title %></h2>
    <div style="height: 100px;">
      <br>
      <p>
        <h5><%= @product.description %></h5>
      </p>
    </div>

    <!-- 商品价格 -->
     <div class="product-price-bgcolor">
       <div class="product-price">
         ￥ <%= @product.price %>
       </div>
     </div>

     <!-- 商品库存 -->
          <div class="product-quantity">
            库存量：<%= @product.quantity %>
          </div>

          <div class="product-quantity">
                类别： <%= @product.category %>
              </div>






    <!-- 开始改动，为了实现收藏 -->
    <div class="col-sm-6">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product),method: :post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
      已销售一空，无法购买
      <% end %>
    </div>

<!-- 收藏商品按钮 -->
    <div class="col-sm-6 product-collection">
         <% if current_user && current_user.is_member_of?(@product) %>
           <%= link_to("已收藏", quit_product_path(@product), method: :post, class: "btn btn-lg") %>
         <% else %>
           <%= link_to("收藏商品", join_product_path(@product), method: :post, class: "btn btn-lg") %>  <!--收藏按钮 改成 btn-lg -->
         <% end %>
       </div>
     </div>

  </div>
</div>



<!-- 商品详情区域 + 推荐展示 -->
    <div class="container">
        <!-- 商品详情区域 + 商品评论区域 -->
        <div class="col-md-9 product-particulars">


          <!-- 导航栏 -->
          <div class="row">
            <ul class="nav nav-tabs nav-justified">
              <li class="active">
                <a href="#tab_default_1" data-toggle="tab">商品详情</a>
              </li>
              <li>
                <a href="#tab_default_2" data-toggle="tab">用户评价</a>
              </li>
            </ul>
          </div>



          <!-- 商品详情区域 -->
          <div class="product-particulars-box row tab-pane active" id="tab_default_1">
            <%= simple_format(@product.particulars) %>
          </div>
        </div>
    </div>
