<div class="container product-show">
  <div class="row">
    <div class="col-md-6">
          <!-- 商品小图 --->
          <div class="intro-bigPic border pr">
            <div class="magnifier-preview border" id="preview"></div>
            <% if @photos.present? %>
            <!-- <a class="magnifier-thumb-wrapper" href="javascript:;"> -->
            <img id="medium" src="<%= @photos.first.avatar.medium.url %>" data-large-img-wrapper="preview" data-large-img-url="<%= @photos.first.avatar.medium.url %>">

            <% end %>
          </div>
          <!--商品大图  -->
          <ul class="intro-preview clearfix">
            <% if @photos.present? %>
            <% @photos.each_with_index do |p, index| %>
            <% if index == 0 %>
            <li class="border intro-preview-item intro-preview-activeItem fl">

            <% else %>
            <li class="border intro-preview-item fl">
              <% end %>

              <% if index < 5 %>
              <%= image_tag p.avatar.medium.url %>
              <% end %>
            </li>
            <% end %>
            <% end %>
          </ul>
    </div>

    <!-- 商品信息 -->
 <div class="col-md-6">

   <!-- 商品标题 -->
   <h2 class="product-title"><%= @product.title %></h2>

   <!-- 商品简述 -->
   <div class="product-description">
     <p>
       <%= simple_format(@product.description) %>
     </p>
   </div>

   <!-- 商品价格 -->
   <div class="product-price-bgcolor">
     <div class="product-price">
       ￥ <%= @product.price %>
     </div>
   </div>

   <div class="row">
     <div class="col-sm-6">
       <!-- 商品库存 -->
       <div class="product-quantity">
         库存量： <%= @product.quantity %>
       </div>

       <!-- 商品类别-->
       <div class="product-quantity">
         类别： <%= @product.category.name if @product.category %> 
       </div>
     </div>

     <div class="col-sm-6">
       <!-- 商品服务 -->
       <div class="product-quantity">
         保证： 99元起开始包邮了 | 7天无忧退货
       </div>
     </div>
   </div>

   <!-- 按钮区域 -->
   <div class="add-to-cart-buttom row">
     <!-- 加入购物车按钮 -->
     <div class="col-sm-6">
       <% if @product.quantity.present? && @product.quantity > 0 %>
         <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class: "btn btn-danger") %>
       <% else %>
         <a href="#" class="btn btn-danger active" role="button" disabled="disabled">库存缺货ing...</a>
       <% end %>
     </div>

     <!-- 收藏商品按钮 -->
     <div class="col-sm-6 product-collection">
       <!-- <%= link_to("添加收藏 - 人气(26)", "#")%> -->
       <% if current_user && current_user.is_member_of?(@product) %>
         <%= link_to("已收藏（点击取消收藏）", quit_product_path(@product), method: :post, :class => "btn btn-default") %>
       <% else %>
         <%= link_to("收藏商品", join_product_path(@product), method: :post, :class => "btn btn-lg") %>
       <% end %>
     </div>
   </div>

 </div>
 </div>


<!-- 商品详情区域 -->
<!-- 商品详情区域 + 商品评论区域 -->
<div class="container">
  <div class="col-md-7 product-particulars">
    <!-- 导航栏 -->
    <div class="row">
      <ul class="nav nav-tabs nav-justified">
        <li class="active">
          <a href="#tab_default_1" data-toggle="tab">商品详情</a>
        </li>
      </ul>
    </div>
    <!-- 商品详情区域 -->
    <div class="product-particulars-box row tab-pane active" id="tab_default_1">
      <%= simple_format(@product.particulars) %>
    </div>
  </div>

  <!-- 购物指南区 -->
  <div class="col-md-5">
    <div class="product-recommend">
      <h5>购物指南</h5>
      <hr>
      <h6>配送费用</h6>
      <p>凡是在本商购买的商品 均可享受免费配送服务。</p>
      <hr>
      <h6>支付方式</h6>
      <p>支付宝支付
        <br>
        网银支付
        <br>
        微信支付
        <br>
        信用卡支付</p>
      <hr>
      <h6>售后保障</h6>
      <p>如商品出现质量问题，极客生活馆将提供上门取送及原厂授权维修服务。 温馨提示： 售后到家服务仅针对部分指定商品，具体以客户下单时订单详情为准； 此服务仅限商城自营商品； 法定节假日、停电、天气等不可抗力情况除外。</p>
      <hr>
      <h6>促销活动</h6>
      <p>您可以在商城首页“促销”或商品页面价格下方所提示的促销信息里面查看本店的最新活动。</p>
    </div>
  </div>

  <!-- 商品评论区域 -->
  <div class="product-particulars-box row tab-pane" id="tab_default_2">
    <%= simple_form_for ([@product, @review]) do |f| %>
    <div class="review-comment-form">
      <%= f.input :content, :label => "在下方编辑您的评论" %>
    </div>
    <div class="review-comment-button">
      <%= f.submit "提交", class: "btn btn-primary btn-sm", data: {disable_with: "Submiting..."} %>
    </div>
    <% end %>
    <hr>
    <% if @reviews.blank? %>
    <p>该商品暂无评论</p>
  <% else %>
    <% @reviews.each do |review| %>
    <div class="reviews">
      <ul>
        <li>
          <div class="row">
            <div class="col-sm-9 review-user-email"><%= review.user.email %></div>
            <div class="col-sm-3"><%= review.created_at.strftime("%Y-%m-%d %H-%M-%S") %></div>
          </div>
          <div class="review-comment">
            <%= review.content %>
          </div>
        </li>
      </ul>
      <div class="review-hr">
        <hr>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
